body {
	margin: 0;
	background: #09010A;
	cursor: default;
	user-select: none;
	overflow: hidden;
}

canvas {
	vertical-align: middle;
}

#credits {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	color: #fff;
	text-shadow: 0 0 1rem #000;
	font-family: monospace;
	opacity: 0.15;
}

#credits > a {
	color: inherit;
}

#glitch {
	position: absolute;
	top: 0;
	right: 0;
}

#glitch button {
	outline: none;
	background: rgba(0, 0, 0, 0.1);
	padding: 0.5rem 1rem;
	border-radius: 0 0 0 0.5rem;
}

#mount {
	width: 100vw;
	height: 100vh;
	cursor: pointer;
}
